.main {
  display: flex;
  justify-content: space-between;
  .leftside {
    width: 35%;
    margin: 100px 0 0 200px;

    .mainclock {
      line-height: 1;
      .date {
        opacity: 60%;
        font-size: 1.5vw;
        font-weight: 700;
      }
      .clock {
        display: block;
        opacity: 75%;
        font-size: 7.8vw;
        font-weight: 900;
      }
    }

    .timestamp {
      margin-top: 50px;
      background-color: #ffffff20;
      border-radius: 15px;
      width: 27.5vw;
      height: 50vh;
      position: relative;
      .timestampcont {
        padding: 40px 30px;
        height: 100%;
        overflow-y: scroll;
        .timestampmemo {
          opacity: 80%;
          color: #fff;
          font-size: 1vw;
          line-height: 1.8;
        }

        &::-webkit-scrollbar {
          width: 0.5vw;
          background-color: #ffffff00;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #460a0a91;
        }
        &::-webkit-scrollbar-track {
          background-color: #ffffff00;
        }
      }

      .timestampinput {
        border: none;
        opacity: 60%;
        position: absolute;
        left: 0;
        top: 104%;
        border-radius: 15px;
        width: 27.5vw;
        height: 60px;
        font-size: 1vw;
        padding-left: 10px;
        &::placeholder {
          text-align: center;
          color: #000000;
        }
      }
    }
  }
  .rightside {
    margin: 55px 100px 0 0;
    width: 30%;
    height: 80vh;
    // background-color: #ffffff27;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;

    .musicplayer {
      width: 15vw;
      height: 7vh;
      border-radius: 15px;
      background-color: #ffffff15;
    }

    .todo {
      width: 20vw;
      height: 70vh;
      background-color: #ffffff15;
      border-radius: 15px;
      .todolist {
        .todolistcont {
        }
      }

      .listachieve {
      }
    }
  }
}
